.chat__body{

    background-image:url("https://images.pexels.com/photos/1591447/pexels-photo-1591447.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    object-fit: fill;
    display: flex;
    flex-direction: column;
    flex: 1;


}



.chat {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #363a3f;
    height: 100vh;
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(30px)

 

}

.chat__input {
    color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 5px;
    margin: 20px;
    border-top: 1px solid gray;
    background-color: #474b53;
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(30px)


}

.chat__input > form > input {
    padding: 15px;
    background: transparent;
    border: none;
    width: 100%;
    outline-width: 0;
    color: white;
    font-size: large;
}

.chat__input > form {
    flex: 1;
}

.chat__inputButton {
    display: none;
}

.chat__inputIcons > .MuiSvgIcon--root {
    padding: 5px;
}

.chat__messages{
    flex: 1;
}